.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.actions {
  display: flex;
  width: 30vw;
  justify-content: space-around;
  align-items: center;
}

.info {
  font-size: 20px;
}

.button {
  text-decoration: none;
  background: var(--primary);
  border: var(--primary);
  cursor: pointer;
  box-shadow: none;
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
  font-size: 1.1rem;
}

.button-secondary {
  text-decoration: none;
  background: var(--primary-light);
  border: 1px solid var(--primary);
  cursor: pointer;
  box-shadow: none;
  border-radius: 3px;
  padding: 0.3rem;
  color: var(--primary);
}
